
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

.flex-container {
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}

.flex-container > * {
  padding: 15px;
  -webkit-flex: 1 100%;
  flex: 1 100%;
}

.main {
  text-align: center;
}

@media all and (min-width: 768px) {
  .main1 {-webkit-flex:5 0px;flex:5 0px;-webkit-order:1;order:1;}
  .main2 {-webkit-flex:5 0px;flex:5 0px;-webkit-order:1;order:1;}
  .footer {-webkit-order:2;order:2;}
}

li {
    padding: 3px;
    margin: 3px;
    background: #e9e8e6;
    list-style: none;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }