body {
    background-color: yellowgreen;
  }
  
  .jumbotron h1{
      color: blue;
  
  }
  
  .jumbotron{
      padding-top: 0;
      background-color:transparent !important;
  }
  
  img {
  margin-top: 0%;
    width: 20%;
  }
  
  .submitFont{
      color: whitesmoke;
  }